/* HEX: light-green #AEB88E */
/* HEX: dark-green #476F54 */
/* HEX: white #FFFFFF*/
/* HEX: rasberry #D60A58 */
/* HEX: font-green #101913 */

/* FONTS */
/* Lily Script One Regular 400 */
/* Instrument Sans Regular 400 */
/* Instrument Sans Medium 500 */
/* Instrument Sans Bold 700 */


* {
  margin: 0;
  font-family: 'Instrument Sans';
  font-weight: 400;
  color: #101913;
}

body {
  background-color: #FFFFFF;
}

.header-image {
  max-width: 45%;
}

button {
  border-style: none;
  cursor: pointer;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}


.header-button {
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #476F54;
  color: white;
  border-style: none;
}

.invisible {
  visibility: hidden;
}

/* ALL RECIPES PAGE */

.all-recipes-page-buttons {
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
}
 
label {
  background-color: #476F54;
  color: white;
  border-radius: 8px;
  padding: 5px 20px;
  flex-grow: 1;
  text-align: center;
}

select {
  margin-right: 30px;
}
 
.all-recipe-search-box {
  flex-grow: 2;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 5px;
}

.search-submit {
  border-radius: 8px;
}

.all-recipe-flex {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.all-recipe-box {
  background-color: #AEB88E;
  width: 20%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
}

.all-recipe-image {
  max-width: 95%;
  border-radius: 8px;
}

/* INDIVIDUAL RECIPE PAGE */

.recipe-page {
  background-color: #AEB88E;
  width: 95%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
}

.recipe-page {
  display: flex;
}

aside {
  width: 25%;
  padding: 15px;
}

.right-side {
  width: 75%;
  margin-left: 30px;
}

.aside-img {
  max-width: 90%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.ingredients-header {
  margin-bottom: 10px;
  margin-left: 10px;
}

.ingredients-list {
  margin-bottom: 15px;
}

.green-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: #476F54;
  border-radius: 8px;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  /* color: white */
}

.flex-tags {
  display: flex;
  list-style-type: none;
  background-color: #D60A58;
  border-radius: 8px;
  padding: 5px 30px;
  gap: 1rem;
  /* color: white */
}

.pink-container-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* color: white */
}

.total-cost {
  background-color: #D60A58;
  margin-right: 30px;
  padding: 5px 30px;
  border-radius: 8px;
  color: white
}

.save-recipe, 
.delete-recipe {
  border-radius: 8px;
  padding: 5px 30px;
}

.instructions {
  margin-bottom: 15px;
  font-weight: 500;
}

.instructions-list {
  line-height: 1.6;
  width: 80%;
}
 
.hidden {
  display: none;
}

/* FUTURE LANDING PAGE

.call-to-action-box {
  background-color: #AEB88E;
  width: 90%;
  border-radius: 8px;
  display: flex;
  padding: 2rem;
  margin: 0 auto;
}

.left-side-call-to-action {
  width: 60%;
}

.intro-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-family: 'Lily Script One'
}

.intro-text {
  width: 80%;
  margin-bottom: 90px;
}

.home-buttons-container {
  margin-top: 30px;
}

.featured-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Lily Script One'
}

.search-box {
  padding: 5px 150px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: none;
}

.view-all {
  padding: 5px 20px;
  border-radius: 8px;
}

.right-side-img {
  border: 1px solid black;
}

.font-page-img {
  max-width: 40%;
  margin-right: 40px;
}

.recipes-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.recipe-box {
  width: 25%;
  background-color: #AEB88E;
  border: 1px solid black;
} */

.flex-tags > li,
.green-flex-container > h2,
.total-cost {
  color: white;
}


